.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color-light);
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: var(--color-tertiary);
}

.footer a:hover {
    color: var(--color-accent-light);
}