header {
    position: fixed;
    z-index: 2;
    top : 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6.5em;
    background-color: rgba(255, 255, 255, 0.175);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 0 1em 0 1em;
    transition: background-color 0.3s ease, height 0.3s ease;
}

header.scrolled {
    background-color: rgba(255, 255, 255, 0.935);
    height: 4.75em;
}

.brand {
    display: flex;
    align-items: center;
    margin: 1em 0 0em 1em;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

header.scrolled .brand {
    transform: scale(0.7);
}

#logo {
    max-width: 10.75em;
}

header.scrooled #logo {
    max-width: 5em;
}

header .menu {
    display: flex;
    gap: 0.75rem;
    margin-left: auto;
    margin-right: 1em;
    transition: transform 0.3s ease;
}

header .menu > a {
    font-size: 1rem;
    transition: font-size 0.3s ease;
}

header.scrolled .menu > a {
    font-size: 0.5rem;
}


