header {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* for later */
.brand {
    margin: 0;
}

#logo {
    max-width: 14em;
}



